pkgbase = pybitmessage-dev-git
	pkgdesc = Decentralized and trustless P2P communications protocol for sending encrypted messages to another person or to many subscribers
	pkgver = 0.6.2
	pkgrel = 2
	url = https://github.com/Bitmessage/PyBitmessage
	arch = i686
	arch = x86_64
	license = MIT
	depends = python2-pyqt4
	depends = qt4
	depends = python2-msgpack
	optdepends = mpg123: MP3 sounds support
	optdepends = alsa-utils: WAV sounds support
	provides = pybitmessage
	source = pybitmessage-dev-git::git+https://github.com/Bitmessage/PyBitmessage.git#branch=v0.6
	source = bitmsglib_location.patch
	sha256sums = SKIP
	sha256sums = 189d72de92eb1cfca465efb34e26582f9077a7767696badc0a366b5cdb6c609b

pkgname = pybitmessage-dev-git

